@using TaTooIne.Demo.Models

<section id="calculation">
    @if (State == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <table id="table-calculation" class="table">
            <caption>@State.FuncDescription</caption>
            <thead>
            <tr>
                <th>@nameof(Line.Time)</th>
                @foreach (var input in State.InputNames)
                {
                    <th>@input</th>
                }
                @foreach (var output in State.OutputNames)
                {
                    <th>@output</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var row in _transposedState)
            {
              var rowList = row.ToList();
              <tr>
                    <td>@rowList.First()!.Time.ToShortDateString()</td>
                    @foreach (var cell in rowList)
                    {
                        <td>
                            @if (cell != null)
                            {
                                @($"{cell.Value:F2}")
                            }
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
</section>
